:root {
  --primary-color: #3498db;
  --hover-color: #2980b9;
  --default-bg: #f7f8fa;
  --text-color: #333;
  --placeholder-color: #7f8c8d;
  --button-radius: 5px;
  --border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--default-bg);
  margin: 0;
  padding: 20px;
  width: 360px;
  color: var(--text-color);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center content vertically in the flex container */
  margin-bottom: 16px;
}

h1 {
  font-size: 16px;
  color: #2c3e50;
  line-height: 1.2; /* Reduce line-height to make the heading more compact */
}

.sponsor-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px; /* Reduce padding to make the button shorter */
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #ff66a3;
  background-image: linear-gradient(145deg, #ff66a3, #ff99cc);
  border: 2px solid #ff66a3;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1; /* Set line-height to 1 for the button text */
  align-self: center; /* Center the button within the heading */
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.sponsor-button:hover {
  background-color: #ff4d94;
  background-image: linear-gradient(145deg, #ff4d94, #ff80b2);
  border-color: #ff4d94;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #2c3e50;
}

.input-group input[type="text"] {
  width: calc(100% - 20px);
  padding: 12px 10px;
  border: 1px solid #bdc3c7;
  border-radius: var(--border-radius);
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  padding: 12px 0;
  border: none;
  border-radius: var(--button-radius);
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}

#urlList {
  margin-top: 20px;
}

#urlListPlaceholder {
  font-size: 16px;
  color: var(--placeholder-color);
  margin-top: 10px;
}

.url-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
}

.url-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.urlLabel {
  cursor: pointer;
  overflow: auto;
  margin: 0 15px;
  flex: 1;
  font-size: 14px;
  color: #34495e;
}

.url-item input[type="radio"] {
  cursor: pointer;
}

.url-item button {
  padding: 5px;
  font-size: 12px;
  background-color: #e74c3c;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.url-item button:hover {
  background-color: #c0392b;
}

@media (min-width: 768px) {
  body {
    width: 500px;
    padding: 40px;
  }
}

details {
  border: none;
  margin-bottom: 25px;
}

summary {
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-decoration: underline;
  text-align: left;
}

.details-content {
  padding: 0.5em;
  font-size: 15px;
  line-height: 1.6;
}

code {
  color: purple;
}

code.search-box {
  border: 0.1em dashed green;
  border-radius: 2em;
  padding: 0.5em;
}

.defaultSelection {
  font-weight: bold;
}

.defaultSelection:after {
  content: " (default)";
}
